<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Yazid.png" %>
	</div>

	<div id="content">
		<h1>Hello! I'm a self-taught full stack web developer based in Singapore.</h1>
		<p>I believe web development is an art, and I try to master it beautifully. This means I care about my craft, and I think about my work.</p>
		<p>Welcome to my web development journey and project showcase. To view and read about my work, you can get them <%= link_to "here", root_path %>.</p>
		<p>Get in touch if you like what you see and I'm pleased to talk to you, find me on LinkedIn <a href="https://sg.linkedin.com/in/ayazidismail" target="_blank">ayazidismail</a> or you can <a href="mailto:flight846@gmail.com">email</a> me here. 
	</div>
</div>